.mytaginput-com {
	.mytaginput-com-content {
		box-sizing: border-box;
		border: 1px solid #ccc;
		outline: none;
	}
	
	.mytaginput-com-list-tages-selected {
		padding: 2px;
		div {
			display: inline-block;
		}
	}
	
	.mytaginput-com-input {
		outline: none;
		border: none;
		margin: 3px;
	}
	
	.mytaginput-com-item-taged {	
		background: #00b7f1;
		color: white;
		margin: 2px;
		box-sizing: border-box;
		padding: 0px 5px;
	}
	
	.mytaginput-com-item-taged.my-deleting {
		background: #d9534f;
	}
	
	.mytaginput-com-icon-delete:hover {
		cursor: pointer;
	}
	
	.mytaginput-com-wrapper-auto-complete {
		position: relative;
		width: 100%;
	}
	
	.mytaginput-com-auto-complete-container {
		position: absolute;
		z-index: 5;
		top: 0px;
		width: 100%;
		background: white;
		border: 1px solid #ccc;
		max-height: 300px;
		overflow: auto;
	}
	
	.mytaginput-com-item-auto-complete {
		padding: 1px 5px;
		cursor: default;
	}
	.mytaginput-com-item-auto-complete.my-selected {
		background: #e3e3e3;
	}
}