body {
	font-family: 'Roboto',sans-serif;
	font-size: 15px;
	
	.form-control, .btn {
		border-radius: 0px;
	}
	
	.pre-line {
		white-space: pre-line;
	}
}

/*HARD CODE*/
for i in 1..50
	.w-{i*10} {
		width: (i * 10)px;
	}