body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
body .form-control,
body .btn {
  border-radius: 0px;
}
body .pre-line {
  white-space: pre-line;
}
.w-10 {
  width: 10px;
}
.w-20 {
  width: 20px;
}
.w-30 {
  width: 30px;
}
.w-40 {
  width: 40px;
}
.w-50 {
  width: 50px;
}
.w-60 {
  width: 60px;
}
.w-70 {
  width: 70px;
}
.w-80 {
  width: 80px;
}
.w-90 {
  width: 90px;
}
.w-100 {
  width: 100px;
}
.w-110 {
  width: 110px;
}
.w-120 {
  width: 120px;
}
.w-130 {
  width: 130px;
}
.w-140 {
  width: 140px;
}
.w-150 {
  width: 150px;
}
.w-160 {
  width: 160px;
}
.w-170 {
  width: 170px;
}
.w-180 {
  width: 180px;
}
.w-190 {
  width: 190px;
}
.w-200 {
  width: 200px;
}
.w-210 {
  width: 210px;
}
.w-220 {
  width: 220px;
}
.w-230 {
  width: 230px;
}
.w-240 {
  width: 240px;
}
.w-250 {
  width: 250px;
}
.w-260 {
  width: 260px;
}
.w-270 {
  width: 270px;
}
.w-280 {
  width: 280px;
}
.w-290 {
  width: 290px;
}
.w-300 {
  width: 300px;
}
.w-310 {
  width: 310px;
}
.w-320 {
  width: 320px;
}
.w-330 {
  width: 330px;
}
.w-340 {
  width: 340px;
}
.w-350 {
  width: 350px;
}
.w-360 {
  width: 360px;
}
.w-370 {
  width: 370px;
}
.w-380 {
  width: 380px;
}
.w-390 {
  width: 390px;
}
.w-400 {
  width: 400px;
}
.w-410 {
  width: 410px;
}
.w-420 {
  width: 420px;
}
.w-430 {
  width: 430px;
}
.w-440 {
  width: 440px;
}
.w-450 {
  width: 450px;
}
.w-460 {
  width: 460px;
}
.w-470 {
  width: 470px;
}
.w-480 {
  width: 480px;
}
.w-490 {
  width: 490px;
}
.w-500 {
  width: 500px;
}
.mytaginput-com .mytaginput-com-content {
  box-sizing: border-box;
  border: 1px solid #ccc;
  outline: none;
}
.mytaginput-com .mytaginput-com-list-tages-selected {
  padding: 2px;
}
.mytaginput-com .mytaginput-com-list-tages-selected div {
  display: inline-block;
}
.mytaginput-com .mytaginput-com-input {
  outline: none;
  border: none;
  margin: 3px;
}
.mytaginput-com .mytaginput-com-item-taged {
  background: #00b7f1;
  color: #fff;
  margin: 2px;
  box-sizing: border-box;
  padding: 0px 5px;
}
.mytaginput-com .mytaginput-com-item-taged.my-deleting {
  background: #d9534f;
}
.mytaginput-com .mytaginput-com-icon-delete:hover {
  cursor: pointer;
}
.mytaginput-com .mytaginput-com-wrapper-auto-complete {
  position: relative;
  width: 100%;
}
.mytaginput-com .mytaginput-com-auto-complete-container {
  position: absolute;
  z-index: 5;
  top: 0px;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  max-height: 300px;
  overflow: auto;
}
.mytaginput-com .mytaginput-com-item-auto-complete {
  padding: 1px 5px;
  cursor: default;
}
.mytaginput-com .mytaginput-com-item-auto-complete.my-selected {
  background: #e3e3e3;
}
.admin-search-question-com .asqc-form,
.admin-search-question-com .asqc-group-date,
.admin-search-question-com .asqc-item-question {
  display: flex;
  justify-content: space-between;
}
.admin-search-question-com .asqc-item-question-w {
  margin-bottom: 15px;
}
.admin-search-question-com .asqc-item-question {
  border: 1px solid #e3e3e3;
  padding: 2px;
}
