.admin-search-question-com {
	.asqc-form, .asqc-group-date, .asqc-item-question {
		display: flex;
		justify-content: space-between;
	}
	
	.asqc-item-question-w {
		margin-bottom: 15px;
	}

	.asqc-item-question {
		border: 1px solid #e3e3e3;
		padding: 2px; 
	}
}